<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Brayan</title>
    <!-- <link rel="shortcut icon" type="image/png" href="{{asset('img/0coin.png')}}"/> -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="assets/bootstrap-4.0.0/css/bootstrap.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">

    <!-- Personalizado -->
    <link rel="stylesheet" href="assets/css/personalizado.css">


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/bootstrap-4.0.0/bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js"></script>
    <script src="assets/bootstrap-4.0.0/bootstrap-4.0.0/assets/js/vendor/popper.min.js"></script>
    <script src="assets/bootstrap-4.0.0/js/bootstrap.js"></script>


</head>
<body class="no-scroll">

    <!-- MENU  !! sticky-top (para q el menu se quede fijo, debe ir en el nav) -->
    <nav class="container-fluid navbar navbar-expand-lg navbar-light bg-blanco Sombra-Menu">

        <a class="navbar-brand" href="#">
            <img class="Logo" src="img/Logo.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <div class="col-lg-12">
                <div class="row justify-content-end"><p><i class="fa fa fa-phone"></i> Contact +1 (954) 8547428</p> </div>
                <div class="row justify-content-end">
                    <ul class="navbar-nav">
                        <li class="nav-item enlace-bdp">
                            <a class="nav-link" href="#"><span class="enlace-bdp">Inicio</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="enlace-bdp">Menu2</span></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="enlace-bdp">Menu3</span>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                                <a class="dropdown-item" href="#"><span class="enlace-bdp">Opcion1</span></a>
                                <a class="dropdown-item" href="#"><span class="enlace-bdp">Opcion2</span></a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#"><span class="enlace-bdp">Opcion3</span></a>
                            </div>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="enlace-bdp">Menu4</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
<!-- FIN MENU -->
        <!-- CARRUSEL DE IMAGENES -->
    <div id="carouselExampleIndicators" class="carousel slide mt-2" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="img/carrousel/carrusel_img_1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/carrousel/carrusel_img_2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/carrousel/carrusel_img_3.jpg" alt="Third slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="img/carrousel/carrusel_img_4.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <!-- FIN CARRUSEL DE IMAGENES -->

    <!-- OUR COMPANY -->
    <div class="rectangulo1">
        <br>
        <h1 class="text-center text-white mt-5">Our Company</h1>
        <p class="container text-white text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse ipsum minima odio quam rem. Eaque eligendi ex expedita hic maxime, mollitia nobis nulla optio rem vero. A doloremque optio tenetur?</p>
        <div class="row justify-content-center">
            <div class="ribbon"></div>
        </div>
    </div>

    <!-- Seccion Home Repair -->
    <div class="mt-5">
        <div class="container rectangulo2">
            <br>
            <div class="row justify-content-center">
                <div class="col-lg-4 mb-2">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="rectangulo-servicio">
                                <br>
                                <h4 class="text-white container-fluid">
                                    Home repair professions simply dummy text of the printing any.
                                </h4>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <img class="img-2" src="img/carrousel/carrusel_img_1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <img class="img-2" src="img/carrousel/carrusel_img_1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>
    <!--Fin Seccion Home Repair -->

    <!-- SECCION REMODELING -->
    <div class="mt-5">
        <div class="ribbon-superior"></div>
        <div class="rectangulo-remodeling">
            <br>
            <h3 class="text-center">REMODELING</h3>
            <P class="mt-3 text-center">Interior / Exterior ipsum is simply dummy text of the printing and typesetting industry</P>
            <div class="mt-3">
                <div class="row justify-content-center">
                    <div class="card card-remodeling mb-2" style="width: 16rem;">
                        <img class="card-img img-card-remodeling" src="img/carrousel/carrusel_img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title"><b>Bathrooms</b></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card card-remodeling mb-2 mr-lg-5 ml-lg-5">
                        <img class="card-img img-card-remodeling" src="img/carrousel/carrusel_img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title"><b>Kitchens</b></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                    <div class="card card-remodeling mb-2" style="width: 16rem;">
                        <img class="card-img img-card-remodeling" src="img/carrousel/carrusel_img_1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-title"><b>Patios</b></h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="ribbon-inferior"></div>
        </div>
    </div>
    <!-- FIN SECCION REMODELING -->


    <!-- SERVICE    -->
    <div class="mt-5">
        <h1 class="text-center">SERVICE</h1>
        <div class="container">
            <p class="text-center">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi blanditiis commodi corporis delectus et fugit harum incidunt ipsum, iste minima molestiae natus porro quasi quia reiciendis repellat veritatis vitae?
            </p>
        </div>
        <div class="mt-3 container">
            <div class="row justify-content-center d-flex">
                <div class="col-lg-2 col-sm-6 col-md-4">
                    <div class="row justify-content-center">
                        <img src="img/services/plumbing.png" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Plumbing</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6 col-md-4">
                    <div class="row justify-content-center">
                        <img src="img/services/electricity.png" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Elictricity</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-md-4">
                    <div class="row justify-content-center">
                        <img src="img/services/walls.png" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Walls</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-md-4">
                    <div class="row justify-content-center">
                        <img src="img/services/paiting.png" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Paiting</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-md-4">
                    <div class="row justify-content-center">
                        <img src="img/services/floors.png" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Floors</p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-4 col-md-4">
                    <div class="row justify-content-center">
                        <img src="img/services/cellings.png" alt="">
                    </div>
                    <div class="row justify-content-center">
                        <p class="text-center">Cellings</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    FIN SERVICE    -->

    <br><br><br><br><br>

</body>
</html>