body{
    font-family: 'Raleway', sans-serif;
}

.no-scroll
{
    overflow-x: hidden;
}

.Logo
{
    width: 270px;
    height: 90px;
}

.enlace-bdp
{
    color: black;
}
.enlace-bdp:hover
{
    color: #23A098;
    font-weight: bold;
    text-decoration:none;
    cursor: pointer;
}

.rectangulo1 {
    width: 100%;
    height: 100%;
    background: #23A098;
}

.triangulo1 {
    width: 100%;
    height: 5px;
    border-right: 600px solid transparent;
    border-left: 600px solid transparent;
    border-top: 100px solid #f0ad4e;
}


.ribbon {
    width: 0px;
    height: 10px;
    border-left: 760px solid #FFFFFF;
    border-right: 760px solid #FFFFFF;
    border-top: 100px solid transparent;
}


/*  SEGUNDA SECCION DE LA PAGINA    */
.rectangulo2 {
    width: 100%;
    height: 100%;
    background: #f1f3EE;
}

.rectangulo-servicio {
    width: 100%;
    height: 170px;
    background: #BB0823;
}

.img-2
{
    width: 100%;
    height: 170px;
}


/*================================================*/
/*======          SECCION REMODELING        ======*/
/*================================================*/
.ribbon-superior {
    width: 0px;
    height: 40px;
    border-left:  760px solid #f1f3EE;
    border-right: 760px solid #f1f3EE;
    border-top: 100px solid transparent;
}

.rectangulo-remodeling {
    width: 100%;
    height: 100%;
    background: #f1f3EE;
}

.img-card-remodeling{
    height: 15em;
    width: 100%;
}

.card-remodeling{
    width: 16rem;
}

.ribbon-inferior {
    width: 0px;
    height: 40px;
    border-left: 760px solid #ffffff;
    border-right: 760px solid #ffffff;
    border-top: 100px solid transparent;
}




.tooltip1 {
    display: inline;
    position: relative;
}
.tooltip1:hover:after {
    bottom: 26px;
    content: attr(title); /* este es el texto que será mostrado */
    left: 20%;
    position: absolute;
    z-index: 98;
    /* el formato gráfico */
    background: rgba(255,255,255, 0.2); /* el color de fondo */
    border-radius: 5px;
    color: #FFF; /* el color del texto */
    font-family: Georgia;
    font-size: 12px;
    padding: 5px 15px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    width: 150px;
}
.tooltip1:hover:before {
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    /* el triángulo inferior */
    border: solid;
    border-color: rgba(255,255,255, 0.2) transparent;
    border-width: 6px 6px 0 6px;
}


.has-error {
    border: solid 1px #FF0000;
}
.my-error-class
{
    color: red;
}


/* ===================================== */
/* PARA EL ESTILO DE LAS FLECHITAS DE "VOLVER" */
.atras
{
    color: orange;
}
.atras:hover
{
    color: white;
}


/* Color del icono inversor para en el modulo de personas */
/*COLORES DE FONDO*/

.bg-gris{
    background: #F4F3F3;
}
.bg-gris2{
    background: #30333030;
}

.bg-azul{
    background: #203973;
}



.bg-blanco
{
    background:#FFFFFF;
}

.portada
{
    width: 35%;
    height: 35%;
}

.bg-morocotas
{
    background-color: #018e49;
}

/*===========  COLORES  ================*/
.color-morocotas{
    color: #018e49;
}

.color-warning{
    color: #ffcc00;
}
.color-retiro{
    color: #FF0505;
}
/*========== FIN COLORES ==============*/
/* contenedor para los graficos*/
.chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}


.instrucciones1
{
    background: #1c7430;
}
.patrocinantes
{
    width: 100%;
    height: 100%;
}
.patrocinantes1
{
    width: 150px;
    height: 70px;
}
.patrocinantes2
{
    width: 220px;
    height: 110%;
}
.patrocinantes3
{
    width: 120px;
    height: 120px;
}



.img-team
{
    width: 15em;
    height: 22em;
}

.img-redonda
{

    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 12em;
    width: 12em;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}



/*PARA EL MENU SUPERIOR*/

.borde-redondo
{

    /* cambia estos dos valores para definir el tamaño de tu círculo */
    height: 2.8em;
    width: 2.8em;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}
.button-badge {
    background-color: #ffffff;
    height: 2.5em;
    width: 2.5em;
    text-decoration: none;
    padding: 0.4rem 0.75rem;
    position: relative;
    display: inline-block;
    border-radius: 50%;
    transition: all ease 0.4s;

    -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
}

.button-badge:hover {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.badge {
   /* height: 0.2em;
    width: 0.2em;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .8em;*/
    background: #D2312D;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
    height: 18px;
    padding: 3px 5px 3px 5px;
    position: absolute;
    right: -8px;
    top: -3px;
    border-radius: 100%;
}
.dropdown-menu
{
    padding: 0px 0px;
}
.menuxyz:hover
{
    color: yellow;
}
/*Separador vertical*/
.separador {
    border-left: 5px solid #000;
    width: 2px;
    height: 100%;;
}


/*===========  S O M B R A S  ===========*/


.Sombra{
    -webkit-box-shadow: 4px 6px 20px -7px rgba(19,16,13,0.5);
    -moz-box-shadow: 4px 6px 20px -7px rgba(19,16,13,0.5);
    box-shadow: 4px 6px 20px -7px rgba(19,16,13,0.5);
}

.Sombra-2{
    -webkit-box-shadow: 1px 3px 20px -7px rgba(19,16,13,0.5);
    -moz-box-shadow: 1px 3px 20px -7px rgba(19,16,13,0.5);
    box-shadow: 1px 3px 20px -7px rgba(19,16,13,0.5);
}

.Sombra-Menu{
    -webkit-box-shadow: 0px 4px 15px -2px rgba(19,16,13,0.6);
    -moz-box-shadow: 0px 4px 15px -2px rgba(19,16,13,0.6);
    box-shadow: 0px 4px 15px -2px rgba(19,16,13,0.6);
}




                    /*FIN MENU SUPERIOR*/
/*=====================================================================================================================*/





/*PARA LOS LINKS EN EL SITIO*/
.enlace
 {
     color: #018e49;
 }
.enlace:hover
{
    color: #dbc824;
}

.enlace2
{
    background-color: #018e49;
}
.enlace2:hover
{
    background-color: #dbc824;
    text-decoration:none;
}


.enlace3:hover{
    background-color: #dbc824;
}


.option__gradient
{
    /*
    background:  rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(219,200,36,0.6225840678068102) 0%, rgba(1,142,73,0.208018241476278) 100%);
    */
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(219,200,36,0.4181022750897234) 0%, rgba(1,142,73,0.2556372890953257) 100%);
}
.option__gradient2
{
    /*
    background:  rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(219,200,36,0.6225840678068102) 0%, rgba(1,142,73,0.208018241476278) 100%);
*/
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(219,200,36,0.4181022750897234) 0%, rgba(1,142,73,0.2556372890953257) 100%);
}


.img-footer
{
    width: 12em;
    height: 10em;
}
.img-footer2
{
    width: 16em;
    height: 10em;
}

.img-portada
{
    background-color: transparent;
    background-image: url('../img/portada2.png');
    background-repeat: no-repeat;
    background-position: center;
   /* background-attachment: fixed;*/
    background-size: 100% 100%;
}
.fondoFooter {
    background-color: transparent;
    background-image: url('../img/footer-bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
.img-servicios
{
    background-color: transparent;
    background-image: url('../img/1234.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}
.img-ComoFunciona
{
    background-color: transparent;
    background-image: url('../img/contactanos.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

.fondoContactanos
{
    background-color: transparent;
    background-image: url('../img/CONTACTANOS4.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
}

/*PARA QUE EL SITIO NO HAGA SCROLL EN EL EJE X*/
.no-scroll
{
    overflow-x: hidden;
}


/*PERFIL DE USUARIO*/
.user-img{
    width: 100%;
    height: 240px;
}

#map {
    height: 100%;
}
.img-tipo-usuario
{
    width: 10em;
    height: 10em;
}

.seleccionar-tu:hover
{
    border: solid 1.5px #018e49;
    height: 12em;
    width: 12em;
    /* los siguientes valores son independientes del tamaño del círculo */
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
}



